body
{
	margin: 0;
	padding: 0;
	background:#BF988F;
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: sans-serif;
}
body:before
{
	content:'';
	position: absolute;
	top:0;
	left:-25%;
	width:50%;
	height: 100%;
	background: #0294A5;
}
.box
{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	width:30vw;
	min-height: 30vw;
	background:#F1E0D6;
	border-radius: 1vw;
	padding: 2.5vw;
	box-sizing: border-box;
	box-shadow: 0 15px 50px rgba(0,0,0,.5);
}
.heading
{
	color: #192E5B;
	top: 40%;
	left: 40%;
	box-sizing: border-box;
	position: absolute;
	margin-left: 5vw;
	font-size: 1.5vw;
	text-align: center;
}
.input-box
{
	position: relative;
	margin: 2.5vw 0;
}
.input-box button
{
	text-align: left;
	width:100%;
	border:none;
	font-size: 2vw;
	padding: 0.8vw;
	padding-left:1vw;
	font-weight: bold;
	color: #777;
	cursor: pointer;
	color: #fff;
	transition: 0.5s;
	border-radius: 1vw;	
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.input-box a
{
	text-decoration: none;
	color: #ffff;
}
#fb
{
	background:  #3B5998;
}
#gmail
{
	background:  red;
}
#create
{
	background:#777;
}
#create:hover
{
	background: #525B56;
}
#login
{
	background:#0584F2;
}
#login:hover
{
	background: #ff4987;
}











